body {
  text-align: center;
  font-family: helvetica, sans-serif;
  color: black;
}

#header{
  font-weight: normal;
  font-size: inherit;
}

#header a {
  color: black;
}

.dropmenu ul li a.active, .dropmenu ul li a:focus, .dropmenu ul li a:hover {
  color: grey!important;
  text-decoration: none;
}

navbar-section.desktop-menu {
  width: 600px;
  margin-left: auto;
}


a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
  }


.text-center {
  text-align: center;
}

#body-wrapper {
  margin-top: 2rem;
}

.bierhalter {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.container.grid-lg.maincontent {
  max-width: 600px;
}

.mobile-menu .button_container span {
  background-color: black;
}

.overlay {
  background-color: white;
}

.treemenu li.tree-empty>.toggler {
  visibility: hidden;
}

.treemenu li{
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 2rem;
}

.treemenu li a.active, .treemenu li a:focus, .treemenu li a:hover {
  color: grey!important;
}
